html {
   --theme-background: rgb(70, 70, 70);
   --theme-text: white;
}

* {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   box-sizing: border-box;
   color: var(--theme-text);
}

:not(dialog) {
   margin: 0;
   padding: 0;
}

body {
   height: 100vh;
   display: flex;
   flex-flow: column;
   justify-content: center;
   align-items: center;
   gap: 36px;
   background: var(--theme-background);
}

button {
   cursor: pointer;
   background: none;
}

:disabled {
   cursor: not-allowed;
}

#boards {
   display: flex;
   gap: 36px;
}

.board {
   display: flex;
   border: 0.5px solid var(--theme-text);
}

.board > div {
   display: flex;
   flex-flow: column;
}

.board .space {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 0.5px solid gray;
   width: 24px;
   aspect-ratio: 1;
}

.board .space::before {
   width: 12px;
   aspect-ratio: 1;
   border-radius: 100%;
}

.board .space.ship {
   background: white;
}

.board .space.ship.sunk {
   background: black;
}

.board .space.hit::before {
   content: "";
   background: rgb(255, 60, 60);
}

.board button.space.miss::before {
   content: "";
   background: white;
}

.board button.space {
   border-color: var(--theme-text);
}

.board button:not(:disabled):is(:hover, :focus-visible) {
   background: rgba(0, 0, 0, 0.2);  
}